.skeleton {
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #ccc;
  width: 55%;
}

.skeleton-image {
  width: 100%;
  height: 200px; /* Adjust the height of the image skeleton */
  background-color: #f0f0f0;
  margin-bottom: 10px;
}

.skeleton-text {
  width: 97.5%;
  height:35px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
}
