.grid-container {
    display: grid;
    row-gap: 16px;
    justify-items: center;
    margin: 20px 0px;
}


@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1025px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 100px;
    }
}