* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100%;
}

.bold {
  font-weight: bold;
  font-size: 1.2rem;
}

.custom-link {
  text-decoration: none;
  color: inherit;
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.detail-container {
  display: flex;
  padding-top: 20px;
}